<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Please provide login credentials:</h1>
    <form name="form" (ngSubmit)="loginHtml()" #f="ngForm">
        <div>
            Username:
            <br/>
            <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
        </div>
        <div>
            Password:
            <br/>
            <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
        </div>
        <br/>
        <div>
            <button>Login</button>
        </div>
    </form>
</body>
</html>